@font-face {
    font-family: "MV Boli V1";
    src: url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.eot");
    src: url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a7e3822358f6dcb2f986a68cf24721b2.svg#MV Boli V1")format("svg");
}
body {
    margin: 0;
    overflow: auto;
    font-family: "MV Boli V1"
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 80px;
    padding: 10px 20px;
    border-radius: 150px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: darkred;
}
.headerpara{
    font-size: 50px;
    text-align: center;
}
.flex-container-1{
    display: flex;
    justify-content: center;
}
.flexbox-1{
    text-align: center;
    font-size: 40px;
    padding-left: 50px;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .fromthestartvid{
    display: flex;
    justify-content: center;
  }
  .laufeyvidtext{
    font-size: 40px;
    text-align: center;
  }
.home-screen-ending{
    display: flex;
    justify-content: center;
    font-size: 75px;
    text-align: center;
    text-align: ;
}
.home-screen-ending h3 a {
    text-decoration: none;
    color: black;
    font-size: 80px;
    padding: 10px 20px;
    border-radius: 150px;
    transition: background-color 0.3s;
}

.home-screen-ending h3 a:hover {
    background-color: darkred;
}